@charset "utf-8";

/* ---------------------------------------- day: free ------------------------------------------ */
div.free {
    color:            rgb(128,128,128);
    border-color:     transparent;
    background-color: transparent;
}
td.free {
    background-color: rgb(232,232,232);
}
/* ---------------------------------------- event: event ------------------------------------------ */
div.event0 {
    color:            rgb(128,128,128);
    border-color:     rgb(255,160,160);
    background-color: rgb(255,255,255);
}

div.event1, div.event2, div.event3 {
    color:            rgb(180,0,0);
    border-color:     rgb(255,160,160);
    background-color: rgb(255,255,255);
}

div.event4, div.event5, div.event6 {
    color:            rgb(0,0,0);
    border-color:     rgb(255,170,170);
    background-color: rgb(255,170,170);
}

div.event7, div.event8, div.event9, div.event10 {
    color:            rgb(0,0,0);
    border-color:     rgb(180,0,0);
    background-color: rgb(255,130,130);
}
/* ---------------------------------------- event: othersEvent ------------------------------------------ */
div.othersEvent0 {
    color:            rgb(160,128,170);
    border-color:     rgb(192,128,204);
    background-color: rgb(255,255,255);
}

div.othersEvent1, div.othersEvent2, div.othersEvent3 {
    color:            rgb(128,64,160);
    border-color:     rgb(192,160,224);
    background-color: rgb(255,255,255);
}

div.othersEvent4, div.othersEvent5, div.othersEvent6 {
    color:            rgb(0,0,0);
    border-color:     rgb(224,190,240);
    background-color: rgb(224,190,240);
}

div.othersEvent7, div.othersEvent8, div.othersEvent9, div.othersEvent10 {
    color:            rgb(0,0,0);
    border-color:     rgb(80,24,112);
    background-color: rgb(200,170,224);
}
/* ---------------------------------------- note: note ------------------------------------------ */
div.note0 {
    color:            rgb(128,128,128);
    border-color:     rgb(160,160,255);
    background-color: rgb(255,255,255);
}

div.note1, div.note2, div.note3 {
    color:            rgb(0,0,220);
    border-color:     rgb(160,160,255);
    background-color: rgb(255,255,255);
}

div.note4, div.note5, div.note6 {
    color:            rgb(0,0,0);
    border-color:     rgb(170,170,255);
    background-color: rgb(170,170,255);
}

div.note7, div.note8, div.note9, div.note10 {
    color:            rgb(0,0,0);
    border-color:     rgb(24,24,255);
    background-color: rgb(150,150,255);
}
/* ---------------------------------------- note: diary ------------------------------------------ */
div.diary0 {
    color:            rgb(128,128,128);
    border-color:     rgb(160,255,160);
    background-color: rgb(255,255,255);
}

div.diary1, div.diary2, div.diary3 {
    color:            rgb(0,140,0);
    border-color:     rgb(160,255,160);
    background-color: rgb(255,255,255);
}

div.diary4, div.diary5, div.diary6 {
    color:            rgb(0,0,0);
    border-color:     rgb(160,255,160);
    background-color: rgb(160,255,160);
}

div.diary7, div.diary8, div.diary9, div.diary10 {
    color:            rgb(0,0,0);
    border-color:     rgb(0,160,0);
    background-color: rgb(130,255,130);
}
/* ---------------------------------------- person: friend ------------------------------------------ */
div.friend0 {
    color:            rgb(160,160,160);
    border-color:     rgb(220,220,0);
    background-color: rgb(255,255,255);
}

div.friend1, div.friend2, div.friend3 {
    color:            rgb(70,70,0);
    border-color:     rgb(220,220,0);
    background-color: rgb(255,255,255);
}

div.friend4, div.friend5, div.friend6 {
    color:            rgb(0,0,0);
    border-color:     rgb(255,255,100);
    background-color: rgb(255,255,100);
}

div.friend7, div.friend8, div.friend9, div.friend10 {
    color:            rgb(0,0,0);
    border-color:     rgb(220,220,0);
    background-color: rgb(255,255,60);
}
/* ---------------------------------------- tag: tag ------------------------------------------ */
div.tag0 {
    color:            rgb(180,180,180);
    border-color:     rgb(192,192,192);
    background-color: rgb(255,255,255);
}

div.tag1, div.tag2, div.tag3 {
    color:            rgb(128,128,128);
    border-color:     rgb(160,160,160);
    background-color: rgb(255,255,255);
}

div.tag4, div.tag5, div.tag6 {
    color:            rgb(0,0,0);
    border-color:     rgb(220,220,220);
    background-color: rgb(220,220,220);
}

div.tag7, div.tag8, div.tag9, div.tag10 {
    color:            rgb(0,0,0);
    border-color:     rgb(0,0,0);
    background-color: rgb(192,192,192);
}