@charset "utf-8";


/* ---------------------------------------- day ---------------------------------------- */
/* -- day_* -- */
span.item_day
{
    color:            rgb(128,128,128);
}
div.dayBody_day_holiday,
div.dayBody_day_flextime,
div.dayBody_day_new_year,
div.dayBody_day_three_wise_men,
div.dayBody_day_good_friday,
div.dayBody_day_easter_monday,
div.dayBody_day_workers_day,
div.dayBody_day_ascension_day,
div.dayBody_day_pentecost,
div.dayBody_day_corpus_christi,
div.dayBody_day_german_unity_day,
div.dayBody_day_all_saints_day,
div.dayBody_day_december_25,
div.dayBody_day_december_26,
div.dayBody_day_medical_leave,
div.dayBody_day_christmas_eve,
div.dayBody_day_new_years_eve,
div.dayBody_day_reformation_day,
div.dayBody_day_parental_leave
{
    background-color: rgb(232,232,232);
}
/* -- day_school_holidays -- */
div.dayBody_day_school_holidays
{
    background-color: rgb(232,255,232);
}

table.day, td.day {
    background-color: rgb(232,232,232);
}
/* ---------------------------------------- event ------------------------------------------ */
div.event0
{
    color:            rgb(128,128,128);
    border-color:     rgb(255,160,160);
    background-color: rgba(255,255,255,0.6);
}

div.event1, div.event2, div.event3
{
    color:            rgb(180,0,0);
    border-color:     rgb(255,160,160);
    background-color: rgba(255,255,255,0.6);
}

div.event4, div.event5, div.event6
{
    color:            rgb(0,0,0);
    border-color:     rgb(240,150,150);
    background-color: rgb(255,170,170);
}

div.event7, div.event8, div.event9, div.event10
{
    color:            rgb(0,0,0);
    border-color:     rgb(180,0,0);
    background-color: rgb(255,130,130);
}

table.event, td.event
{
    background-color: rgb(255,170,170);
}
/* -- event_others -- */
div.event_others0
{
    color:            rgb(180,180,180);
    border-color:     rgb(192,192,192);
    background-color: rgba(255,255,255,0.6);
}

div.event_others1, div.event_others2, div.event_others3
{
    color:            rgb(128,128,128);
    border-color:     rgb(160,160,160);
    background-color: rgba(255,255,255,0.6);
}

div.event_others4, div.event_others5, div.event_others6
{
    color:            rgb(0,0,0);
    border-color:     rgb(220,200,200);
    background-color: rgb(220,220,220);
}

div.event_others7, div.event_others8, div.event_others9, div.event_others10
{
    color:            rgb(0,0,0);
    border-color:     rgb(0,0,0);
    background-color: rgb(192,192,192);
}
/* ---------------------------------------- note ------------------------------------------ */
div.note0
{
    color:            rgb(128,128,128);
    border-color:     rgb(160,160,255);
    background-color: rgb(255,255,255);
}

div.note1, div.note2, div.note3
{
    color:            rgb(0,0,220);
    border-color:     rgb(160,160,255);
    background-color: rgb(255,255,255);
}

div.note4, div.note5, div.note6
{
    color:            rgb(0,0,0);
    border-color:     rgb(150,150,240);
    background-color: rgb(170,170,255);
}

div.note7, div.note8, div.note9, div.note10
{
    color:            rgb(0,0,0);
    border-color:     rgb(24,24,255);
    background-color: rgb(150,150,255);
}
table.note, td.note
{
    background-color: rgb(170,170,255);
}
/* -- note_diary -- */
div.note_diary0
{
    color:            rgb(128,128,128);
    border-color:     rgb(160,255,160);
    background-color: rgb(255,255,255);
}

div.note_diary1, div.note_diary2, div.note_diary3
{
    color:            rgb(0,140,0);
    border-color:     rgb(160,255,160);
    background-color: rgb(255,255,255);
}

div.note_diary4, div.note_diary5, div.note_diary6
{
    color:            rgb(0,0,0);
    border-color:     rgb(140,240,140);
    background-color: rgb(160,255,160);
}

div.note_diary7, div.note_diary8, div.note_diary9, div.note_diary10
{
    color:            rgb(0,0,0);
    border-color:     rgb(0,160,0);
    background-color: rgb(130,255,130);
}
/* ---------------------------------------- person ------------------------------------------ */
div.person0
{
    color:            rgb(160,160,160);
    border-color:     rgb(220,220,0);
    background-color: rgb(255,255,255);
}

div.person1, div.person2, div.person3
{
    color:            rgb(70,70,0);
    border-color:     rgb(220,220,0);
    background-color: rgb(255,255,255);
}

div.person4, div.person5, div.person6
{
    color:            rgb(0,0,0);
    border-color:     rgb(240,240,80);
    background-color: rgb(255,255,100);
}

div.person7, div.person8, div.person9, div.person10
{
    color:            rgb(0,0,0);
    border-color:     rgb(220,220,0);
    background-color: rgb(255,255,60);
}
table.person, td.person
{
    background-color: rgb(255,255,100);
}
/* ---------------------------------------- place ------------------------------------------ */
div.place0,
div.place_activity0,
div.place_bar0,
div.place_bar_food0,
div.place_cafe0,
div.place_club0,
div.place_home0,
div.place_restaurant0
{
    color:            rgb(128,128,128);
    border-color:     rgb(64,220,64);
    background-color: rgb(255,255,255);
}

div.place1,            div.place2,              div.place3,
div.place_activity1,   div.place_activity2,     div.place_activity3,
div.place_bar1,        div.place_bar2,          div.place_bar3,
div.place_bar_food1,   div.place_bar_food2,     div.place_bar_food3,
div.place_cafe1,       div.place_cafe2,         div.place_cafe3,
div.place_club1,       div.place_club2,         div.place_club3,
div.place_home1,       div.place_home2,         div.place_home3,
div.place_restaurant1, div.place_restaurant2,   div.place_restaurant3
{
    color:            rgb(0,140,0);
    border-color:     rgb(64,220,64);
    background-color: rgb(255,255,255);
}

div.place4,            div.place5,              div.place6,
div.place_activity4,   div.place_activity5,     div.place_activity6,
div.place_bar4,        div.place_bar5,          div.place_bar6,
div.place_bar_food4,   div.place_bar_food5,     div.place_bar_food6,
div.place_cafe4,       div.place_cafe5,         div.place_cafe6,
div.place_club4,       div.place_club5,         div.place_club6,
div.place_home4,       div.place_home5,         div.place_home6,
div.place_restaurant4, div.place_restaurant5,   div.place_restaurant6
{
    color:            rgb(0,0,0);
    border-color:     rgb(44,210,44);
    background-color: rgb(64,220,64);
}

div.place7,                 div.place8,                   div.place9,                   div.place10,    
div.place_activity7,        div.place_activity8,          div.place_activity9,          div.place_activity10,  
div.place_bar7,             div.place_bar8,               div.place_bar9,               div.place_bar10,           
div.place_bar_food7,        div.place_bar_food8,          div.place_bar_food9,          div.place_bar_food10,      
div.place_cafe7,            div.place_cafe8,              div.place_cafe9               div.place_cafe10,         
div.place_club7,            div.place_club8,              div.place_club9               div.place_club10,               
div.place_home7,            div.place_home8,              div.place_home9,              div.place_home10,                      
div.place_restaurant7,      div.place_restaurant8,        div.place_restaurant9,        div.place_restaurant10
{
    color:            rgb(0,0,0);
    border-color:     rgb(0,160,0);
    background-color: rgb(120,220,120);
}
table.place, td.place, div.place
{
    background-color: rgb(64,220,64);
}
/* ---------------------------------------- tag ------------------------------------------ */
div.tag0
{
    color:            rgb(255, 160, 80);
    border-color:     rgb(255, 160, 80);
    background-color: rgb(255,255,255);
}

div.tag1, div.tag2, div.tag3
{
    color:            rgb(255, 100, 24);
    border-color:     rgb(255, 160, 80);
    background-color: rgb(255,255,255);
}

div.tag4, div.tag5, div.tag6
{
    color:            rgb(0,0,0);
    border-color:     rgb(240, 140, 60);
    background-color: rgb(255, 160, 80);
}

div.tag7, div.tag8, div.tag9, div.tag10
{
    color:            rgb(0,0,0);
    border-color:     rgb(255, 100, 24);
    background-color: rgb(255, 128, 24);
}
table.tag, td.tag, div.tag
{
    background-color: rgb(252, 160, 80);
};
