
@media only screen and (max-width: 600px) {
    html, body, table, input, textarea, select {
        font-size:   6pt;
    }
    
    a.button {
        padding-top:      8px;
        padding-bottom:   8px;
    }

    div.itemBarItem {
        height:      16px;
        width:       90%;
    }

    div.editArea {
        display:               grid;
        grid-template-columns: 120px 240px;
    }
    

    div.main {
        height:                100%;
        width:                 100%;
        display:               grid;
        grid-template-rows:    24px 1fr; 
        grid-template-columns: 120px 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto; 
        overflow:              hidden;
    }

    table.editMetaData {
        font-size:        3pt;
    }

    td.links {
        width: 128px;
    }

    td.itemBarDate {
        min-width: 30px;
        width: 30px; 
    }
    
    td.itemBarItem {
        min-width: 88px;
        width: 88px; 
    }
    
    td.itemBarDeleteLink {
        min-width: 10px;
        width: 10px; 
    }

    th.itemBarDate {
        max-width: 30px;
        width: 30px; 
    }

    th.itemBarItem {
        max-width: 88px;
        width: 88px; 
    }

    th.itemBarDeleteLink {
        max-width: 10px;
        width: 10px; 
    }
    
    div.mainView {
        display:               grid;
        grid-auto-rows:        160px; 
        grid-template-columns: 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow-y:            auto; 
        overflow-x:            hidden; 
    }

    div.monthBarOneMonth {
        width: 16px;
    }

}