
@media only screen and (max-width: 600px) {
    html, body, table, input, textarea, select {
        font-size:   6pt;
    }
    
    a.button {
        padding-top:      8px;
        padding-bottom:   8px;
    }

    div.itemBarItem {
        height:      16px;
        width:       90%;
    }

    div.editArea {
        display:               grid;
        grid-column:           1 / 10;
        grid-row:              5 / 6;
        grid-template-columns: 148px 1fr;
        grid-template-rows:    32px 1fr;
        height:                480px;
    }
    

    div.main {
        height:                100%;
        width:                 100%;
        display:               grid;
        grid-template-rows:    12px 54px 32px 1fr min-content; 
        grid-template-columns: 148px 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        overflow:              hidden;
    }

    table.editMetaData {
        font-size:        3pt;
    }

    td.links {
        width: 128px;
    }

    td.itemBarDate {
        min-width: 40px;
        max-width: 40px;
        width:     40px; 
    }
    
    td.itemBarItem {
        min-width: 88px;
        width: 88px; 
    }
    
    td.itemBarLinkAction {
        min-width: 24px;
        max-width: 24px;
        width:     24px; 
    }

    th.itemBarDate {
        min-width: 40px;
        max-width: 40px;
        width:     40px; 
    }

    th.itemBarItem {
        max-width: 88px;
        width: 88px; 
    }

    th.itemBarLinkAction {
        min-width: 24px;
        max-width: 24px;
        width: 24px; 
    }
    
    div.mainView {
        display:               grid;
        grid-auto-rows:        160px; 
        grid-template-columns: 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow-y:            auto; 
        overflow-x:            hidden; 
    }

    div.monthBarOneMonth {
        width: 16px;
    }

}