
@media only screen and (max-width: 600px) {
    html, body, table, input, textarea, select {
        font-size:   6pt;
    }
    
    a.button {
        padding-top:      12px;
        padding-bottom:   12px;
    }

    div.itemBarItem {
        height:      16px;
        width:       98%;
    }

    div.editArea {
        display:               grid;
        grid-template-columns: 120px 1fr;
        height:                223px;
    }
    

    div.main {
        height:                100%;
        width:                 100%;
        display:               grid;
        grid-template-rows:    auto 24px 1fr; 
        grid-template-columns: 120px 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
        overflow:              hidden;
    }

    table.editMetaData {
        font-size:        3pt;
    }

    td.links {
        width: 128px;
    }

    th.itemBarDateHeader {
        min-width: 30px;
        width: 30px; 
    }

    th.itemBarItemHeader {
        min-width: 88px;
        width: 88px; 
    }

    th.itemBarDeleteLinkHeader {
        min-width: 10px;
        width: 10px; 
    }
    
    div.mainView {
        display:               grid;
        grid-auto-rows:        200px; 
        grid-template-columns: 16px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        overflow-y:            auto; 
        overflow-x:            hidden; 
    }

    div.monthBarOneMonth {
        width: 16px;
    }

}