@charset "utf-8";

html, body, table, input, textarea, select {
    font-family: Arial, Verdana,Sans-Serif;
    font-size:   10pt;
}

/* ---------------------------------------- a ------------------------------------------ */
a {
    text-decoration: none;
    color:           #000000;
}

a.linkAction {
    color:         #808080;
    padding-left:  2px;
    padding-right: 2px;
}

a.linkAction:hover {
    color:         #000000;
}

a.nav {
    padding:      2px;
    font-weight:  bold;
    display:      block;
}

a.nav:hover {
    background-color: #E4E4E4;
}
a.button {
    background-color: #FFFFFF;
    border-color:     #A0A0A0;
    border-style:     solid;
    border-width:     1px;
    font-weight:      bold;
    text-align:       center;
    padding-top:      16px;
    padding-bottom:   16px;
    display:          inline-block;
    width:            100%;
}

a.button:hover {
    background-color: #E4E4E4;
}
/* ---------------------------------------- body ------------------------------------------ */

body.main {
    padding:            0px;
    margin:             0px;
}
/* ---------------------------------------- div ------------------------------------------ */

div.mapView {
    display:               grid;
    grid-template-columns: 260px 1fr;
    height:                100%;
}

div.absolute {
    position:  absolute;
}

div.editArea {
    display:               grid;
    grid-column:           10;
    grid-row:              1 / 4;
    grid-template-columns: 320px 800px;
    grid-template-rows:    1fr;
}

div.linkBar {
    grid-template-rows:    auto 1fr;
}

div.linkInfo {
    color:         #404040;
    padding-left:  8px;
    padding-right: 8px;
}

div.itemBar {
    background-color:   #E0E0E0;
    border-color:       #B0B0B0;
    border-style:       solid;
    border-width:       1px;
    overflow:           hidden;
    overflow-y:         auto;
}

div.itemBarItem {
    height:      32px;
    width:       98%;
}

div.header {
    padding:            3px;
    font-weight:        bold;
    background-color:   #F0F0F0;
}


div.main {
    height:                100%;
    width:                 100%;
    display:               grid;
    grid-template-rows:    24px 48px 1fr; 
    grid-template-columns: 260px 24px 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto; 
    overflow:              hidden;
}

div.mainView {
    display:               grid;
    grid-auto-rows:        240px; 
    grid-template-columns: 24px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow-y:            auto; 
    overflow-x:            hidden; 
}

div.mainViewWeekDayHeader {
    background-color: #BBBBFF;
    height:           100%;
}

div.dayHeader {
    border-color:  #BBBBBB;
    border-style:  none;
    height:        8%;
}


div.dayHeaderOtherMonth {
    color:            #606060;
}

div.dayBody {
    height:          100%;
    overflow-x:      hidden;
    overflow-y:      hidden;
    vertical-align:  top;
    border-color:    #BBBBBB;
    border-collapse: collapse;
    border-width:    1px;
    border-style:    solid solid solid solid;
    box-sizing:      border-box;
}

div.dayContent {
    height:          92%;
    overflow-x:      hidden;
    overflow-y:      auto;
    vertical-align:  top;
    position:        relative;
}

div.dayBodyWeekend {
    background-color: rgb(240,240,247);
}
div.dayBodyToday {
    border-color: rgb(211, 64, 15);
}

div.monthBarOneMonth {
    overflow:    hidden;
    padding:     0px;
    margin:      0px;
    width:       24px;
}

div.monthBarText {
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -o-transform:      rotate(-90deg);
}

div.smallBox {
    cursor:        pointer;
    border-width:  1px;
    border-style:  solid;
    overflow:      hidden;
    box-sizing:    border-box;
}

div.smallBoxDay {
    position:      absolute;
}

div.smallBoxDayStacked {
    left:          10%;
    width:         90%; 
    z-index:       1000;
}

div.smallBoxDayEvent {
    width:         100%; 
}

/* ----------------------------------- span ----------------------------------------- */
span.item_day
{
    margin-left:   16px;
    cursor:        pointer;
}

/* ----------------------------------- table ----------------------------------------- */
table.editMetaData {
    font-size:         8pt;
    color:             #606060;
}

table.noSpaces {
    border-width:      0px;
    border-color:      #A0FFA0;
    border-spacing:    0px; 
    border-collapse:   collapse;
}

table.noSpaces td{
    padding:           0px;
    margin:            0px;
}

table.window {
    padding:           0px;
    margin:            0px;
    background-color:  #E0E0E0;
    border-color:      #A0A0A0;
    border-style:      solid;
    border-collapse:   collapse;
    border-width:      1px;
    width:             100%;
}

table.fillWidth {
    width:             100%;
}

table.navigation {
    height:            100%;
    width:             100%;
    table-layout:      fixed;
}
table.navigation, div.monthBarTopFill {
    background-color:  #909090;
}

table.view {
    padding:          0px;
    height:           100%;
    width :           100%;
    margin:           0px;
    table-layout:     fixed;
    border-width:     0px;	
    border-color:     #A00000;
    border-style:     solid;
    border-collapse:  collapse;
}

table.sortable {
    border-color:    #A0A0A0;
    border-style:    solid;
    border-width:    1px;
    border-collapse: collapse;
}

table.sortable thead {
    background-color:  #D0D0D0;
    cursor:            pointer;
}
/* --------------------------------------- tr ------------------------------------------------ */

tr.windowBar {
    height:           32px;
}

tr.windowContent {
    height:           auto;
}

/* ---------------------------------------- td ----------------------------------------------- */

td.windowBar, td.window {
    margin:               0px;
    background-color:     #D0D0D0;
    border-color:         #A0A0A0;
    border-style:         none none solid none;
    border-width:         1px;
}
td.windowBar {
    padding: 2px;
}
td.window {
    padding: 0px;
}
td.noWrap {
    white-space: nowrap;
}
td.fillTable {
    width: 100%;
}

td.itemBarDate {
    min-width: 60px;
    max-width: 60px;
    width:     60px; 
    font-size: 75%;
    color: #404040;
}

td.itemBarItem {
    min-width: 160px;
    max-width: 160px;
    width: 160px; 
}

td.itemBarLinkAction {
    min-width: 20px;
    max-width: 20px;
    width: 20px;
    vertical-align: top;
}
/* ---------------------------------------- th ----------------------------------------------- */

th.itemBarDate {
    min-width: 60px;
    max-width: 60px;
    width: 60px; 
}

th.itemBarItem {
    min-width: 160px;
    max-width: 160px;
    width: 160px; 
}

th.itemBarLinkAction {
    min-width: 20px;
    max-width: 20px;
    width: 20px;
    vertical-align: top;
}

/* --------------------------------------------------------------------------------------- */

input, textarea {
    font-family:       Arial, Verdana,Sans-Serif;
    border-style:      solid;
    border-color:      #888888;
    border-width:      1px;
    background-color:  white;
}

input.fillCell {
    display: table-cell;
    width:   100%;
}

select.fillCell {
    display: table-cell;
    width:   100%;
}

textarea.fillCell {
    display: table-cell;
    width:   100%;
}

input.readonly {
    color:              #333333;
    background-color:   #DDDDDD;
}